.gamebutton {
    position: block;
    z-index: 4;

}
.buttonrow {
    display: flex;
    justify-content: space-around;
}
.edges {
    width: 500px;
    height: 500px;
}
.nubs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}