.reset {
    width: 220px;
    background-color: #F2F2F2;
    text-align: center;
    padding: 10px;
    letter-spacing: .1rem;

}
.text2 {
    margin: 0;
    color: #2A2A2A;
    font-size: 20px;
    
}